<div class="">
  <div class="aHl"></div>
  <div id=":ec" tabindex="-1"></div>
  <div
    id=":d5"
    class="ii gt"
    jslog="20277; u014N:xr6bB; 4:W251bGwsbnVsbCxbXV0."
  >
    <div id=":d6" class="a3s aiL msg4681244706423885397">
      <u></u>
      <div
        style="
          margin: 0;
          padding: 0;
          width: 100%;
          word-break: break-word;
          background-color: #f2f4f6;
        "
      >
        <div role="article" aria-label="" lang="en">
          <table
            style="
              background-color: #f2f4f6;
              font-family: 'Nunito Sans', -apple-system, 'Segoe UI', sans-serif;
              width: 100%;
            "
            width="100%"
            bgcolor="#f2f4f6"
            cellpadding="0"
            cellspacing="0"
            role="presentation"
          >
            <tbody>
              <tr>
                <td align="center">
                  <table
                    style="width: 100%"
                    width="100%"
                    cellpadding="0"
                    cellspacing="0"
                    role="presentation"
                  >
                    <tbody>
                      <tr>
                        <td
                          align="center"
                          style="
                            font-size: 16px;
                            padding-top: 25px;
                            padding-bottom: 25px;
                            text-align: center;
                          "
                        >
                          <a
                            href="https://www.psievidencia.com"
                            style="
                              font-weight: 700;
                              font-size: 16px;
                              color: #a8aaaf;
                              text-decoration: none;
                            "
                            target="_blank"
                            data-saferedirecturl="https://www.google.com/url?q=http://{{domain}}{% url 'activate' uidb64=uid token=token %}"
                          >
                            <span class="il">Psievidencia</span>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td style="width: 100%" width="100%">
                          <table
                            align="center"
                            class="m_4681244706423885397sm-w-full"
                            style="
                              background-color: #ffffff;
                              margin-left: auto;
                              margin-right: auto;
                              width: 570px;
                            "
                            width="570"
                            bgcolor="#ffffff"
                            cellpadding="0"
                            cellspacing="0"
                            role="presentation"
                          >
                            <tbody>
                              <tr>
                                <td style="padding: 45px">
                                  <div style="font-size: 16px">
                                    <h1
                                      style="
                                        font-weight: 700;
                                        font-size: 22px;
                                        margin-top: 0;
                                        text-align: left;
                                        color: #333333;
                                      "
                                    >
                                      ¡Hola! ¿Cómo estás?
                                    </h1>
                                    <p
                                      style="
                                        font-size: 16px;
                                        line-height: 24px;
                                        margin-top: 6px;
                                        margin-bottom: 20px;
                                        color: #51545e;
                                      "
                                    >
                                      Estás recibiendo este email porque
                                      ingresaste tus datos en el
                                      <a
                                        href="https://www.google.com/url?q=https://docs.google.com/forms/d/1KHCPdTENlypWSJGPOGsLB5uud7-Kxl91oEspAkJmyvU/edit&sa=D&source=editors&ust=1665545153649470&usg=AOvVaw0T6CGn1ZUiZlh_fpd6VKFE"
                                        style="
                                          font-weight: 700;
                                          font-size: 16px;
                                          color: #3869d4;
                                        "
                                        target="_blank"
                                        >Registro de Profesionales en Psicología
                                        con formación en Psicoterapia desde
                                        Prácticas Basadas en Evidencia en
                                        Argentina</a
                                      >.
                                    </p>
                                    <p
                                      style="
                                        font-size: 16px;
                                        line-height: 24px;
                                        margin-top: 6px;
                                        margin-bottom: 20px;
                                        color: #51545e;
                                      "
                                    >
                                      Para poder ingresar y editar tus datos en
                                      la web de
                                      <a
                                        href="https://www.psievidencia.com/"
                                        style="
                                          font-weight: 700;
                                          font-size: 16px;
                                          color: #3869d4;
                                        "
                                        target="_blank"
                                        >Psievidencia</a
                                      >, utilizá estas credenciales:
                                    </p>
                                    <table
                                      style="
                                        padding: 25px;
                                        background-color: #f2f4f6;
                                        font-family: 'Nunito Sans',
                                          -apple-system, 'Segoe UI', sans-serif;
                                        width: 100%;
                                        border-radius: 0.5rem;
                                      "
                                      cellpadding="0"
                                      cellspacing="0"
                                      role="presentation"
                                    >
                                      <tbody>
                                        <tr>
                                          <td>
                                            <p
                                              style="
                                                font-size: 16px;
                                                line-height: 24px;
                                                margin-top: 6px;
                                                margin-bottom: 20px;
                                                color: #51545e;
                                              "
                                            >
                                              Usuario: francosbenitez
                                            </p>
                                            <p
                                              style="
                                                font-size: 16px;
                                                line-height: 24px;
                                                margin-top: 6px;
                                                color: #51545e;
                                              "
                                            >
                                              Contraseña: 1!k8tp1Oj8Wo
                                            </p>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <p
                                      style="
                                        font-size: 16px;
                                        line-height: 24px;
                                        margin-top: 20px;
                                        margin-bottom: 20px;
                                        color: #51545e;
                                      "
                                    >
                                      Si tenés alguna duda,
                                      <a
                                        href="https://www.psievidencia.com/contacto"
                                        style="
                                          font-weight: 700;
                                          font-size: 16px;
                                          color: #3869d4;
                                        "
                                        target="_blank"
                                        >contactanos</a
                                      >.
                                    </p>
                                    <p
                                      style="
                                        font-size: 16px;
                                        line-height: 24px;
                                        margin-top: 20px;
                                        margin-bottom: 20px;
                                        color: #51545e;
                                      "
                                    >
                                      Gracias,<br />
                                      Psievidencia
                                    </p>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <table
                            align="center"
                            class="m_4681244706423885397sm-w-full"
                            style="
                              margin-left: auto;
                              margin-right: auto;
                              text-align: center;
                              width: 570px;
                            "
                            width="570"
                            cellpadding="0"
                            cellspacing="0"
                            role="presentation"
                          >
                            <tbody>
                              <tr>
                                <td
                                  align="center"
                                  style="font-size: 16px; padding: 45px"
                                >
                                  <p
                                    style="
                                      font-size: 13px;
                                      line-height: 24px;
                                      margin-top: 6px;
                                      margin-bottom: 20px;
                                      text-align: center;
                                      color: #a8aaaf;
                                    "
                                  >
                                    <span class="il">Psievidencia</span>. Una
                                    aplicación web para encontrar a tu mejor
                                    psicoterapeuta con formación basada en
                                    evidencia.
                                  </p>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="yj6qo"></div>
          <div class="adL"></div>
        </div>
        <div class="adL"></div>
      </div>
      <div class="adL"></div>
    </div>
  </div>
  <div id=":e8" class="ii gt" style="display: none">
    <div id=":e7" class="a3s aiL"></div>
  </div>
  <div class="hi"></div>
</div>
